<h2 fxLayout="column" fxLayoutAlign="center center">Rezerviši dogadjaj</h2>
<section class="forma" [hidden]="submitted" class="submitStyle" fxLayout="column" fxLayoutAlign="center center">
    <form (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
            <label for="name">Ime:</label>
            <input type="text" id="name" matInput required [(ngModel)]="content.name" name="name">
        </mat-form-field>

        <mat-form-field>
            <label for="name">Godine:</label>
            <input type="text" id="age" matInput required [(ngModel)]="content.age" name="age">
        </mat-form-field>
<!--
        <mat-form-field>
            <label for="name">Dogadjaj:</label>
            <input type="text" id="event" matInput required [(ngModel)]="content.event" name="event">
        </mat-form-field>-->

        <mat-form-field>
            <mat-label>Događaj</mat-label>
            <mat-select matNativeControl required matInput required [(ngModel)]="content.event" name="event">
              <mat-option value="Guča 20.08.2020.-muzika"  id="event"  matInput  [(ngModel)]="content.event" name="event">Guča 20.08.2020.</mat-option>
              <mat-option value="PaintballArena 19.07.2020. 18h-zabava" id="event"  matInput  [(ngModel)]="content.event" name="event">PaintballArena 19.07.2020. 18h</mat-option>
              <mat-option value="BadCopy koncert 30.09.2020. 20h-muzika" id="event"  matInput  [(ngModel)]="content.event" name="event">BadCopy koncert 30.09.2020. 20h</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="primary">Napravi</button>
        <div [hidden]="!submitted">
            <h3>Uspešno!</h3>
            <button (click)="newContent()">Rezerviši</button>
        </div>
    </form>
</section>
