/*#container {
    display: flex;
    justify-content: space-around;
}

.child {
    width: 200px;
    height: 200px;
    
}

#child1 {
    border: 2px solid black;
    background-color: red;
}

#child2 {
    border: 2px solid black;
    background-color: blue;
}

#child3 {
    border: 2px solid black;
    background-color: white;

} */

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover, a:active {
    color: lightblue;
}

p {
    margin-left: 3%;
}
