<!--<section>
    <button mat-raised-button color="primary">gmedu</button>
    <mat-icon>home</mat-icon>
    <mat-icon>alarm</mat-icon>
    <mat-icon>code</mat-icon>
</section> -->
<!--flex container display: flex, flex-direction: def row
    cross-axis - upravna osa (normalna na glavnu)
    justify-content pozicija el u odnosu na gl osu 
    align-items - na upravnu osu

<section id="container">
    <div id="child1" class="child"></div>
    <div id="child2" class="child"></div>
    <div id="child3" class="child"></div>

</section>
-->

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true">
        <p>RelaxApp navigacija</p>
        <mat-nav-list>
            <a mat-list-item  routerLink="/event" (click)="sidenav.close()">
                <mat-icon>event</mat-icon>
                Događaji</a>

            <a mat-list-item  routerLink="/reserve" (click)="sidenav.close()">
                <mat-icon>confirmation_number</mat-icon>
                Rezerviši</a>

            <a mat-list-item  routerLink="/contents" (click)="sidenav.close()">
                <mat-icon>preview</mat-icon>
                Pregled</a>
            <a mat-list-item  routerLink="/signup" (click)="sidenav.close()">
                <mat-icon>portrait</mat-icon>
                Registracija</a>
            <a mat-list-item  routerLink="/login" (click)="sidenav.close()">
                <mat-icon>login</mat-icon>
                Login</a> 
            <a mat-list-item  routerLink="/"      (click)="sidenav.close()">
                <mat-icon>assignment_return</mat-icon>
                Logout</a> 
        </mat-nav-list>
         
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div>
                <button mat-icon-button color="basic" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>RelaxApp</div>
            <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px"
            fxHide.xs>
                <a routerLink="/reserve">Rezervacija</a>
                <a routerLink="/event">Događaji</a>
                <a routerLink="/contents">Pregled</a>
                <a routerLink="/signup">Registracija</a>
                <a routerLink="/login">Login</a>  
                <button mat-raised-button color="warn" 
                (click)="openProfile(this.User.currentUser.id)">
                {{ this.User.currentUser.email }}
            </button>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

