
<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <mat-progress-bar class="progress" mode="indeterminate"></mat-progress-bar>
    <h2>Event is on!</h2>
    <h3>Beach party - SeaDance Festival</h3>
    <img class="image" src="../../../assets/images/z1.jpeg" alt="image"/>

    <h2>Event is on!</h2>
    <h3>AquaPark Petroland - Backi Petrovac</h3>
    <img class="image" src="../../../assets/images/z2.jpg" alt="image"/>
    <!--<button mat-raised-button color="accent" (click)="onStop()">Stop</button>-->

    <mat-progress-bar mode="query"></mat-progress-bar>
</section>
